<header>
<a tab-index="0" id="nav-link"><b></b></a>
  <nav class="main-nav">
  	<h2>contents</h2>
    <ul>
    {%- for page in collections.chapterSort -%}
	  <li>
	    <a href="{{ page.url }}"><span>{{ page.data.chapter | roman }}.</span><span>{{ page.data.title }}</span></a>
	  </li>
	{%- endfor -%}
    </ul>
  </nav>
</header>
